:root[theme-mode=dark]
  --cursor-data var(--dark-cursor)
  --body-background var(--dark-background)

  --theme-highlight #227773
  --theme-subcolor #fe2
  --theme-stress #C0392B

  --theme-bar-color-0 #227773
  --theme-bar-color-1 #227773aa
  --theme-bar-color-2 #22777344
  --theme-bar-color-3 #22777322

  --theme-kbd-shadow #ba2
  --theme-kbd-text #000

  --theme-cursor #ccc
  --theme-cursor-bg #ccc8

  --theme-text-hover #000

  --theme-text #ccc
  --theme-text-light #ccc
  --theme-text-search-keyword #000
  --theme-text-rev rgba(20, 21, 22, 0.9)

  --theme-background #141516
  --theme-bg-cover rgba(20, 21, 22, 0.8)
  --theme-bg-trans0 rgba(20, 21, 22, 0.4)
  --theme-bg-trans1 rgba(20, 21, 22, 0.4)
  --theme-bg-post rgba(20, 21, 22, 0.8)
  --theme-bg-trans2 rgba(30, 31, 32, 0.8)
  --theme-bg-hover #000
  --theme-bg-hover-trans #0008

  --theme-bg-light #ccc
  --theme-bg-soft rgba(#fff, .05)
  --theme-bg-soft-hover rgba(#fff, .1)

  --theme-ex-header rgba(#fff, .3)

  --theme-btn-bg #d4d8dd

  --theme-border  #fe2
  --theme-border-light #ccc
  --theme-border-soft rgba(#fff, .1)

  --theme-unimportant #ccc
  --theme-unimportant-trans #89898966
  --theme-unimportant-2 #535353

  --theme-td-border #227773
  --theme-td-hover rgba(#2bf, .1)

  --theme-tag-bg #313131aa
  --theme-tag-count-bg #494949aa
  --theme-tag-border #31313100

  --theme-loadingbar #ccc
  --theme-loadingbar-fail #f00

  --theme-hide #000
