body {
	font-family: 'Noto Sans', 'Arial', 'Noto Sans SC', 'Noto Sans JP', 'Microsoft Yahei', 'sans-serif' ;
	font-size: large;
	background-color: White;
	padding: 0;
	margin: 0;
}

a {
	color: #666699;
}

a:hover {
	color: #CC00CC;
	text-decoration: underline
}

hr {
	height: 1px;
	margin-left: 40px;

}

img {
	border: 0px none;
	max-width: 100%;
	object-fit: contain;
}


p {
	font-family: 'Noto Sans', 'Arial', 'Noto Sans SC', 'Noto Sans JP', 'Microsoft Yahei', 'sans-serif';
	color: Black;
	margin: 8px 0;
}

ul,
ol {
	font-family: 'Noto Sans', 'Arial', 'Noto Sans SC', 'Noto Sans JP', 'Microsoft Yahei', 'sans-serif';
	color: Black;
}

.text-block {
	margin-left: 40px;
	position: relative;
}

h1 {
	font-family: 'Noto Sans', 'Arial', 'Noto Sans SC', 'Noto Sans JP', 'Microsoft Yahei', 'sans-serif';
	font-size: x-large;
	font-weight: bold;
	color: Black;
	text-align: center;
	width: 100%;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border: 1px solid Black;
	border-left-width: 0px;
	border-right-width: 0px;
	padding: 10px 0;

}

h2 {
	font-family: 'Noto Sans', 'Arial', 'Noto Sans SC', 'Noto Sans JP', 'Microsoft Yahei', 'sans-serif';
	font-size: larger;
	font-weight: bold;
	color: White;
	padding: 12px 36px;
	background: #336699;
	border: 1px solid White;
	margin-top: 30px;
}

h3,
h4,
h5,
h6 {
	font-family: 'Noto Sans', 'Arial', 'Noto Sans SC', 'Noto Sans JP', 'Microsoft Yahei', 'sans-serif';
	color: Black;
	margin-left: 60px;
}


th {
	font-family: 'Noto Sans', 'Arial', 'Noto Sans SC', 'Noto Sans JP', 'Microsoft Yahei', 'sans-serif';
	background-color: #CCCCFF;
}

td {
	font-family: 'Noto Sans', 'Arial', 'Noto Sans SC', 'Noto Sans JP', 'Microsoft Yahei', 'sans-serif';
}

@media (min-width: 1291px) {
	img {
		max-width: 70%;
		height: fit-content;
	}
}

#logo {
	margin: 12px;
	width: 128px;
}

footer {
	width: 100%;
	margin: 48px 0;
	text-align: center;
}

@media (min-width: 1280px) {
	body {
		width: 60%;
		margin-left: 20%;
	}
}

@media (min-width: 1960px) {
	body {
		width: 50%;
		margin-left: 25%;
	}
}