
body
    background linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(https://s1.ax1x.com/2023/01/21/pSGUgUA.png) !important
    background-position center bottom !important
    background-size auto !important

#logo
    margin-top 10px
    margin-bottom 100px

#logo img
    padding-top 36px
    padding-bottom 72px

#Dr
    display none



.control
    font-family BenderLight

input::-webkit-input-placeholder{
    font-family BenderLight
    color #aaa
}

#valine input::-webkit-input-placeholder{
    font-family "Fira Code" "BenderLight" "Microsoft Yahei"
}

#valine{
    font-family "Fira Code" "BenderLight" "Microsoft Yahei"
}

#pages
    border-color rgba(0, 0, 0, 0)
    margin-top 36px
    margin-bottom 12px

.footer-link
    border-color #3dc9c2 !important

.recent-post
    border-color #ccc

.recent-post time
    color #ccc

@media (max-width 768px)
    #logo img
        opacity 0.05
        position fixed
        bottom (-72px + 10%)
        left -5%
        width 70%
        pointer-events none

blockquote
    margin 24px 16px

#post-content p
    display flex
    text-align justify